In [1]:
# Libraries
import numpy as np
import os
import glob
import pandas as pd
from sklearn.preprocessing import StandardScaler
import math
from tqdm import tqdm

In [2]:
data = pd.read_csv('kimia_input.csv.gz', sep=" ")

In [3]:
data.head()

,eid,eid.1,31-0.0,21022-0.0,845-0.0,728-0.0,738-0.0,6142-0.0,20016-0.0,4548-0.0,...,796-2.0,777-2.0,3393-2.0,6141-2.0,2149-2.0,2139-2.0,1259-2.0,2207-2.0,1001-2.0,3659-2.0
0,5093155,5093155,1.0,56.0,33.0,2.0,3.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4155077,4155077,0.0,49.0,16.0,3.0,3.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2204317,2204317,0.0,66.0,NaN,-3.0,-3.0,2.0,8.0,3.0,...,NaN,NaN,0.0,1.0,NaN,NaN,0.0,1.0,NaN,NaN
3,1719355,1719355,0.0,67.0,16.0,2.0,1.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2279037,2279037,1.0,69.0,15.0,2.0,2.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data = data.rename(columns={'21022-0.0': 'Age (R)', '31-0.0': 'Sex (C)', '2020-0.0': 'Loneliness, isolation (C)', 
                            '845-0.0': 'Age completed education (R)',
                            '728-0.0': 'Number of vehicles in household (R)',
                            '738-0.0': 'Average total household income before tax (R)',
                            '6142-0.0': 'Employment status (C)',
                            '20016-0.0': 'Fluid intelligence score (R)',
                            '4548-0.0': 'Health satisfaction (R)',
                            '699-0.0': 'Length of time at current address (R)',
                            '1070-0.0': 'Time spent watching television (TV) (R)',
                            '1080-0.0': 'Time spent using computer (R)',
                            '1110-0.0': 'Length of mobile phone use (R)',
                            '1130-0.0': 'Hands-free device/speakerphone use with mobile phone in last 3 month (R)',
                            '1628-0.0': 'Alcohol intake versus 10 years previously',
                            '20403-0.0': 'Amount of alcohol drunk on a typical drinking day',
                            '1558-0.0': 'Alcohol intake frequency',
                            '826-0.0': 'Job involves shift work (R)',
                            '1160-0.0': 'Sleep duration (R)',
                            '1170-0.0': 'Getting up in morning (R)',
                            '4570-0.0': 'Friendships satisfaction (R)',
                            '4559-0.0': 'Family relationship satisfaction (R)',
                            '1031-0.0': 'Frequency of friend/family visits (R)',
                            '709-0.0': 'Number in household (R)',
                            '1873-0.0': 'Number of full brothers (R)',
                            '1883-0.0': 'Number of full sisters (R)',
                            '20127-0.0': 'Neuroticism score (R)',
                            '2110-0.0': 'Able to confide/Social support (R)',
                            '6160-0.0': 'Leisure/social activities (C)',
                            '4537-0.0': 'Work/job satisfaction (R)',
                            '1180-0.0': 'Morning/evening person (chronotype) (R)',
                            '1920-0.0': 'Mood swings (C)',
                            '1930-0.0': 'Miserableness (C)',
                            '1940-0.0': 'Irritability (C)',
                            '1950-0.0': 'Sensitivity / hurt feelings (C)',
                            '1960-0.0': 'Fed-up feelings (C)',
                            '1970-0.0': 'Nervous feelings (C)',
                            '1980-0.0': 'Worrier / anxious feelings (C)',
                            '1990-0.0': "Tense / 'highly strung' (C)",
                            '2020-0.0': 'Loneliness, isolation (C)',
                            '2000-0.0': 'Worry too long after embarrassment (C)',
                            '2010-0.0': "Suffer from 'nerves' (C)",
                            '4526-0.0': 'Happiness (R)',
                            '20018-0.0': 'Prospective Memory test',
                            '1239-0.0': 'Current tobacco smoking (R)',
                            '1249-0.0': 'Past tobacco smoking (R)',
                            '2887-0.0': 'Number of cigarettes previously smoked daily (R)',
                            '2926-0.0': 'Number of unsuccessful stop-smoking attempts (R)',
                            '3476-0.0': 'Difficulty not smoking for 1 day (R)',
                            '2966-0.0': 'Age high blood pressure diagnosed',
                            '95-0.0': 'Pulse rate (during blood-pressure measurement)',
                            '20107-0.0': 'Illnesses of father',
                            '20110-0.0': 'Illnesses of mother',
                            '20111-0.0': 'Illnesses of siblings',
                            '26413-0.0': 'Health score (England)',
                            '2443-0.0': 'Diabetes diagnosed by doctor',
                            '2976-0.0': 'Age diabetes diagnosedHearing test done',
                            '4849-0.0': 'Hearing test done',
                            '2257-0.0': 'Hearing difficulty/problems with background noise',
                            '6148-0.0': 'Eye problems/disorders',
                            '2227-0.0': 'Other eye problems',
                            '26415-0.0': 'Housing score (England)',
                            '20441-0.0': 'Ever had prolonged loss of interest in normal activities',
                            '20446-0.0': 'Ever had prolonged feelings of sadness or depression',
                            '104920-0.0': 'Time spent doing light physical activity',
                            '104910-0.0': 'Time spent doing moderate physical activity',
                            '104900-0.0': 'Time spent doing vigorous physical activity',
                            '26424-0.0': 'Physical environment score (Wales)',
                            '26417-0.0': 'Living environment score (England)',
                            '6164-0.0': 'Types of physical activity in last 4 weeks',
                            '6033-0.0': 'Maximum heart rate during fitness test',
                            '6032-0.0': 'Maximum workload during fitness test',
                            '6039-0.0': 'Duration of fitness test',
                            '6019-0.0': 'ECG/bike method for fitness test',
                            '26414-0.0': 'Education score (England)',
                            '6150-0.0': 'Vascular/heart problems diagnosed by doctor',
                            '20456-0.0': 'Ever addicted to illicit or recreational drugs',
                            '20457-0.0': 'Ongoing addiction or dependence on illicit or recreational drugs',
                            '20401-0.0': 'Ever addicted to any substance or behaviour',
                            '1200-0.0': 'Sleeplessness / insomnia',
                            '1210-0.0': 'Snoring',
                            '20506-0.0': 'Recent feelings or nervousness or anxiety',
                            '4056-0.0': 'Age stroke diagnosed',
                            '3894-0.0': 'Age heart attack diagnosed',
                            '3627-0.0': 'Age angina diagnosed',
                            '4700-0.0': 'Age cataract diagnosed',
                            '4689-0.0': 'Age glaucoma diagnosed',
                            '5923-0.0': 'Age macular degeneration diagnosed',
                            '20118-0.0': 'Home area population density - urban or rural',
                            '796-0.0': 'Distance between home and job workplace',
                            '777-0.0': 'Frequency of travelling from home to job workplace',
                            '30740-0.0': 'Glucose',
                            '30750-0.0': 'Glycated haemoglobin (HbA1c)',
                            '3393-0.0': 'Hearing aid user',
                            '6141-0.0': 'How are people in household related to participant',
                            '2149-0.0': 'Lifetime number of sexual partners',
                            '2139-0.0': 'Age first had sexual intercourse',
                            '1259-0.0': 'Smoking/smokers in household',
                            '2207-0.0': 'Wears glasses or contact lenses',
                            '5181-0.0': 'Ever had eye surgery',
                            '1001-0.0': 'Ethnic background',
                            '3659-0.0': 'Year immigrated to UK (United Kingdom)',
                            '20414-0.0': 'Frequency of drinking alcohol',
                            '20416-0.0': 'Frequency of consuming six or more units of alcohol',
                            '20159-0.0': 'Number of symbol digit matches made correctly',
                            })

In [5]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', 20)

In [6]:
data.head()

,eid,eid.1,Sex (C),Age (R),Age completed education (R),Number of vehicles in household (R),Average total household income before tax (R),Employment status (C),Fluid intelligence score (R),Health satisfaction (R),...,796-2.0,777-2.0,3393-2.0,6141-2.0,2149-2.0,2139-2.0,1259-2.0,2207-2.0,1001-2.0,3659-2.0
0,5093155,5093155,1.0,56.0,33.0,2.0,3.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4155077,4155077,0.0,49.0,16.0,3.0,3.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2204317,2204317,0.0,66.0,NaN,-3.0,-3.0,2.0,8.0,3.0,...,NaN,NaN,0.0,1.0,NaN,NaN,0.0,1.0,NaN,NaN
3,1719355,1719355,0.0,67.0,16.0,2.0,1.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2279037,2279037,1.0,69.0,15.0,2.0,2.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.shape

(502507, 184)

In [9]:
for col in data.columns:
    print(col)

eid
eid.1
Sex (C)
Age (R)
Age completed education (R)
Number of vehicles in household (R)
Average total household income before tax (R)
Employment status (C)
Fluid intelligence score (R)
Health satisfaction (R)
Length of time at current address (R)
Time spent watching television (TV) (R)
Time spent using computer (R)
Length of mobile phone use (R)
Hands-free device/speakerphone use with mobile phone in last 3 month (R)
Alcohol intake versus 10 years previously
Amount of alcohol drunk on a typical drinking day
Alcohol intake frequency
Job involves shift work (R)
Sleep duration (R)
Getting up in morning (R)
Friendships satisfaction (R)
Family relationship satisfaction (R)
Frequency of friend/family visits (R)
Number in household (R)
Number of full brothers (R)
Number of full sisters (R)
Neuroticism score (R)
Able to confide/Social support (R)
Leisure/social activities (C)
Work/job satisfaction (R)
Morning/evening person (chronotype) (R)
Mood swings (C)
Miserableness (C)
Irritability (C)
Sensitivity / hurt feelings (C)
Fed-up feelings (C)
Nervous feelings (C)
Worrier / anxious feelings (C)
Tense / 'highly strung' (C)
Loneliness, isolation (C)
Worry too long after embarrassment (C)
Suffer from 'nerves' (C)
Happiness (R)
Prospective Memory test
Current tobacco smoking (R)
Past tobacco smoking (R)
Number of cigarettes previously smoked daily (R)
Number of unsuccessful stop-smoking attempts (R)
Difficulty not smoking for 1 day (R)
Age high blood pressure diagnosed
Pulse rate (during blood-pressure measurement)
Illnesses of father
Illnesses of mother
Illnesses of siblings
Health score (England)
Diabetes diagnosed by doctor
Age diabetes diagnosedHearing test done
Hearing test done
Hearing difficulty/problems with background noise
Eye problems/disorders
Other eye problems
Housing score (England)
Ever had prolonged loss of interest in normal activities
Ever had prolonged feelings of sadness or depression
Time spent doing light physical activity
Time spent doing moderate physical activity
Time spent doing vigorous physical activity
Physical environment score (Wales)
Living environment score (England)
Types of physical activity in last 4 weeks
Maximum heart rate during fitness test
Maximum workload during fitness test
Duration of fitness test
ECG/bike method for fitness test
Education score (England)
Vascular/heart problems diagnosed by doctor
Ever addicted to illicit or recreational drugs
Ongoing addiction or dependence on illicit or recreational drugs
Ever addicted to any substance or behaviour
Sleeplessness / insomnia
Snoring
Recent feelings or nervousness or anxiety
Age stroke diagnosed
Age heart attack diagnosed
Age angina diagnosed
Age cataract diagnosed
Age glaucoma diagnosed
Age macular degeneration diagnosed
Home area population density - urban or rural
Distance between home and job workplace
Frequency of travelling from home to job workplace
Glucose
Glycated haemoglobin (HbA1c)
Hearing aid user
How are people in household related to participant
Lifetime number of sexual partners
Age first had sexual intercourse
Smoking/smokers in household
Wears glasses or contact lenses
Ever had eye surgery
Ethnic background
Year immigrated to UK (United Kingdom)
Frequency of drinking alcohol
Frequency of consuming six or more units of alcohol
Number of symbol digit matches made correctly
845-2.0
728-2.0
738-2.0
6142-2.0
20016-2.0
4548-2.0
699-2.0
1070-2.0
1080-2.0
1110-2.0
1130-2.0
1628-2.0
1558-2.0
826-2.0
1160-2.0
1170-2.0
4570-2.0
4559-2.0
1031-2.0
709-2.0
1873-2.0
1883-2.0
2110-2.0
6160-2.0
4537-2.0
1180-2.0
1920-2.0
1930-2.0
1940-2.0
1950-2.0
1960-2.0
1970-2.0
1980-2.0
1990-2.0
2020-2.0
2000-2.0
2010-2.0
4526-2.0
20018-2.0
1239-2.0
1249-2.0
2887-2.0
2926-2.0
3476-2.0
2966-2.0
95-2.0
20107-2.0
20110-2.0
20111-2.0
2443-2.0
2976-2.0
4849-2.0
2257-2.0
6148-2.0
2227-2.0
104920-2.0
104910-2.0
104900-2.0
6164-2.0
6150-2.0
1200-2.0
1210-2.0
4056-2.0
3894-2.0
3627-2.0
4700-2.0
4689-2.0
5923-2.0
796-2.0
777-2.0
3393-2.0
6141-2.0
2149-2.0
2139-2.0
1259-2.0
2207-2.0
1001-2.0
3659-2.0

In [10]:
# Age & Sex nan check before
print(np.isnan(data['Age (R)']).sum())
print(np.isnan(data['Sex (C)']).sum())

# Finding age & sex row with nan
data_as = data[['Age (R)','Sex (C)']]
is_NaN = data_as.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = data_as[row_has_NaN]
print()
print(rows_with_NaN)

# Dropping age & sex row with nan
data = data.drop([440817], axis=0)

# Age & Sex nan check after
print()
print(np.isnan(data['Age (R)']).sum())
print(np.isnan(data['Sex (C)']).sum())

1
1

        Age (R)  Sex (C)
440817      NaN      NaN

0
0

In [11]:
data.columns[2:]

Index(['Sex (C)', 'Age (R)', 'Age completed education (R)',
       'Number of vehicles in household (R)',
       'Average total household income before tax (R)',
       'Employment status (C)', 'Fluid intelligence score (R)',
       'Health satisfaction (R)', 'Length of time at current address (R)',
       'Time spent watching television (TV) (R)',
       ...
       '796-2.0', '777-2.0', '3393-2.0', '6141-2.0', '2149-2.0', '2139-2.0',
       '1259-2.0', '2207-2.0', '1001-2.0', '3659-2.0'],
      dtype='object', length=182)

In [12]:
np.random.seed(0)
def my_impute(df):
    new_df = pd.DataFrame(index=data.eid)
    for col in tqdm(df.columns[2:]):
        arr = np.array(df[col])
        #print(f'Replacing %i NaN values for {col}!' % np.sum(np.isnan(arr)))
        b_nan = np.isnan(arr)
        b_negative = arr < 0
        b_bad = b_nan | b_negative
        arr[b_bad] = np.random.choice(arr[~b_bad], np.sum(b_bad))
        new_df[col] = arr
    return new_df

In [13]:
# Encoding binary ATC
data['Able to confide/Social support (R)'].replace([0,1,2,3,4,5],[1,1,1,1,1,0],inplace=True)
data['Able to confide/Social support (R)'].isnull().sum()

912

In [14]:
# Alcohol intake frequency
data['Alcohol intake frequency'].replace([1,2,3,4,5,6],[6,5,4,3,2,1], inplace=True)
data['Alcohol intake frequency'].unique()

array([ 6.,  5.,  4.,  3.,  2.,  1., -3., nan])

In [15]:
# Alcohol intake versus 10 years previously
data['Alcohol intake versus 10 years previously'].replace([1,2,3],[3,2,1],inplace=True)
data['Alcohol intake versus 10 years previously'].unique()

array([ 1.,  3.,  2., nan, -1., -3.])

In [16]:
# Current tobacco smoking (R)
data['Current tobacco smoking (R)'].replace([0,1,2],[0,2,1], inplace=True)
data['Current tobacco smoking (R)'].unique()

array([ 2.,  0.,  1., -3., nan])

In [17]:
# Past tobacco smoking (R)
data['Past tobacco smoking (R)'].replace([1,2,3,4],[4,3,2,1], inplace=True)
data['Past tobacco smoking (R)'].unique()

array([nan,  1.,  4.,  2.,  3., -3.])

In [18]:
# Leisure/social activities (Act)
# Types of physical activity in last 4 weeks (Phys)
# Employment Status
data = pd.get_dummies(data, columns=["Leisure/social activities (C)", "Employment status (C)", "Types of physical activity in last 4 weeks"], prefix=["Act", "Emp", "Phys"])

In [19]:
data = data.drop(['Act_-7.0', 'Act_-3.0', 'Emp_-7.0', 'Emp_-3.0', 
                  'Phys_-7.0', 'Phys_-3.0'], axis=1)

In [20]:
data['Sleep duration (R)'].unique()

array([ 8.,  7.,  6.,  5.,  3.,  9.,  4., 10., -1., -3., 12., 11., nan,
        2., 15., 14., 20.,  1., 16., 13., 18., 17., 22., 19., 23., 21.])

In [21]:
# Getting up in morning (R)
data['Getting up in morning (R)'].unique()

array([ 3.,  4.,  2.,  1., nan, -1., -3.])

In [22]:
data['Sleeplessness / insomnia'].unique()

array([ 3.,  2.,  1., -3., nan])

In [23]:
# Cardiovascular
data = pd.get_dummies(data, columns=["Vascular/heart problems diagnosed by doctor"], prefix=["He"])

In [24]:
data = data.drop(['He_-7.0', 'He_-3.0'], axis=1)

In [25]:
data['Diabetes diagnosed by doctor'].unique()

array([ 0.,  1., -1., nan, -3.])

In [26]:
data['Hearing difficulty/problems with background noise'].unique()

array([ 1.,  0., -1., nan, -3.])

In [27]:
data['Hearing aid user'].unique()

array([ 0., nan,  1., -3.])

In [28]:
# Vision
data = pd.get_dummies(data, columns=["Eye problems/disorders"], prefix=["Eye"])

In [29]:
data = data.drop(['Eye_-7.0', 'Eye_-3.0', 'Eye_-1.0',
                  'Eye_1.0', 'Eye_3.0', 'Eye_6.0'], axis=1)

In [30]:
data['Miserableness (C)'].unique()

array([ 1.,  0., -1., nan, -3.])

In [31]:
data['Fed-up feelings (C)'].unique()

array([ 1.,  0., -1., -3., nan])

In [32]:
data['Mood swings (C)'].unique()

array([ 1.,  0., -1., nan, -3.])

In [33]:
data['Worrier / anxious feelings (C)'].unique()

array([ 1.,  0., -1., -3., nan])

In [34]:
data['Nervous feelings (C)'].unique()

array([ 1.,  0., -1., -3., nan])

In [35]:
data['Sensitivity / hurt feelings (C)'].unique()

array([ 1.,  0., -1., -3., nan])

In [36]:
data["Tense / 'highly strung' (C)"].unique()

array([ 1.,  0., -1., -3., nan])

In [37]:
data["Suffer from 'nerves' (C)"].unique()

array([ 1.,  0., -1., -3., nan])

In [38]:
data["Worry too long after embarrassment (C)"].unique()

array([ 1.,  0., -1., -3., nan])

In [39]:
data["Irritability (C)"].unique()

array([ 1.,  0., -1., -3., nan])

In [40]:
data["Neuroticism score (R)"].unique()

array([12.,  5.,  4.,  3.,  2., 10., nan,  0.,  8.,  7.,  9.,  1.,  6.,
       11.])

In [41]:
data['Happiness (R)'].replace([1,2,3,4,5,6],[6,5,4,3,2,1], inplace=True)
data['Happiness (R)'].unique()

array([nan,  5.,  4.,  3.,  6.,  2.,  1., -1., -3.])

In [42]:
data["Recent feelings or nervousness or anxiety"].unique()

array([  nan,    1.,    2.,    3.,    4., -818.])

In [43]:
data['Fluid intelligence score (R)'].unique()

array([nan,  8.,  7.,  3.,  2.,  6.,  4., 10.,  5., 11.,  9.,  1.,  0.,
       12., 13.])

In [44]:
data['Frequency of friend/family visits (R)'].replace([1,2,3,4,5,6,7],[7,6,5,4,3,2,1], inplace=True)
data['Frequency of friend/family visits (R)'].unique()

array([ 6.,  5.,  7.,  4.,  3., -3.,  2., nan, -1.,  1.])

In [45]:
data['Friendships satisfaction (R)'].replace([1,2,3,4,5,6],[6,5,4,3,2,1],inplace=True)
data['Friendships satisfaction (R)'].unique()

array([nan,  5.,  4.,  3.,  6.,  2., -1., -3.,  1.])

In [46]:
data['Family relationship satisfaction (R)'].replace([1,2,3,4,5,6],[6,5,4,3,2,1],inplace=True)
data['Family relationship satisfaction (R)'].unique()

array([nan,  5.,  6.,  4.,  3.,  1., -1.,  2., -3.])

In [47]:
data['Number of full sisters (R)'].unique()

array([ 0.,  2.,  1., -3., 10.,  5.,  3.,  6., nan,  4.,  7., -1.,  8.,
        9., 14., 11., 17., 12., 13., 19., 22., 15., 20., 16.])

In [48]:
data['Number of full brothers (R)'].unique()

array([ 2.,  0.,  1., -3., 10.,  3.,  6., nan,  4.,  7.,  5., -1.,  8.,
       11.,  9., 12., 17., 14., 24., 13., 15., 20., 16., 25., 18., 23.,
       19.])

In [49]:
sum_sibs = data["Number of full sisters (R)"] + data["Number of full brothers (R)"]
data["Number of full siblings"] = sum_sibs

In [50]:
data['Number of full siblings'].value_counts()/len(data['Number of full siblings'])

 1.0     0.310247
 2.0     0.239816
 3.0     0.134078
 0.0     0.118407
 4.0     0.071211
 5.0     0.040461
 6.0     0.025156
 7.0     0.015725
 8.0     0.009932
 9.0     0.006549
 10.0    0.003811
 11.0    0.002412
 12.0    0.001465
-2.0     0.000941
-6.0     0.000899
 13.0    0.000826
 14.0    0.000450
 15.0    0.000269
-1.0     0.000221
 16.0    0.000141
-3.0     0.000129
 17.0    0.000107
 18.0    0.000076
 19.0    0.000050
-4.0     0.000042
 20.0    0.000032
 22.0    0.000026
 21.0    0.000020
 23.0    0.000014
 25.0    0.000012
 24.0    0.000010
 33.0    0.000004
 27.0    0.000004
 26.0    0.000004
 41.0    0.000002
 32.0    0.000002
 44.0    0.000002
 38.0    0.000002
 29.0    0.000002
Name: Number of full siblings, dtype: float64

In [51]:
data['Home area population density - urban or rural'].unique()

array([ 5.,  7.,  6., 11., 12., nan,  8., 16., 13.,  9.,  2.,  4., 14.,
        3., 17., 18.,  1.])

In [52]:
data['Average total household income before tax (R)'].unique()

array([ 3., -3.,  1.,  2.,  4.,  5., -1., nan])

In [53]:
data['Number of vehicles in household (R)'].unique()

array([ 2.,  3., -3.,  1.,  4.,  5., nan, -1.])

In [54]:
data['Time spent watching television (TV) (R)'].unique()

array([  4.,   3.,   2.,   1.,   5., -10.,   0.,   7.,   9.,   6.,  -1.,
         8.,  -3.,  10.,  16.,  12.,  nan,  18.,  15.,  20.,  14.,  13.,
        11.,  24.,  17.,  21.,  22.,  19.])

In [55]:
data['Time spent using computer (R)'].unique()

array([  3.,   1.,  -1.,   2.,  -3., -10.,   0.,   6.,  nan,   5.,   4.,
         8.,   7.,  18.,  10.,   9.,  12.,  14.,  13.,  11.,  15.,  16.,
        20.,  24.,  17.,  21.,  22.])

In [56]:
data['Number in household (R)'].unique()

array([  5.,   2.,  -3.,   1.,   3.,   4.,   7.,  nan,   8.,   6.,  23.,
         9.,  -1.,  11.,  18.,  12.,  10.,  36.,  32.,  29.,  30.,  22.,
        20.,  33.,  25.,  15.,  39.,  38.,  50.,  14.,  40.,  31.,  37.,
        17.,  13.,  45.,  35.,  16.,  60.,  26.,  24.,  28.,  52.,  47.,
        27.,  46.,  19.,  42.,  49., 100.,  34.,  41.,  21.,  61.,  57.,
        72.,  43.])

In [57]:
data['Physical environment score (Wales)'].unique()

array([ nan, 21.3, 76.9, 22.1, 42.1, 25.6,  5.7, 12.8, 20.8, 11.2, 23.4,
       17.6, 49.2, 48. , 15.7,  1.8, 22.3,  5.9,  8.6, 19.4, 15.4,  7.3,
       43.9, 39.3,  6.7, 11.3, 18. , 29.3, 14.5, 45.7, 67.6,  8.4,  0.1,
       37.8,  8. , 14.9,  4.6, 29.9, 55.4, 56.9,  3.1, 12.2, 21.6, 48.5,
       48.8, 57. , 52.5, 46. , 12.5, 33.7, 44. , 67.1, 53.6, 17.7,  9.1,
        4.9, 36.4, 44.1,  9.8, 33.5, 10.3, 27.9, 14. , 24.5, 11. , 12.4,
       24.6, 81.4,  1.9,  2.8,  9.4, 55.3,  9. , 12. , 10.5, 72. ,  0.5,
       40.8, 27.3, 40.1, 38.6,  4. ,  4.2, 44.4, 26.7, 19.1,  0.2, 13.8,
       26.4, 60.1, 12.7, 34.2, 93.6, 36.9, 65.8, 18.3,  1.7, 21.9,  1.1,
       24.9,  2.9, 35.2, 39.6, 43.4, 35.9, 35.3, 39.7,  6. ,  5.2, 12.3,
       19. , 13.9, 11.7, 11.8, 23.3, 21.5, 62.3,  2.7, 36.6, 21.7,  8.8,
        7.7, 26. , 40.9, 55.7, 12.9, 47.6, 43.2, 33.3, 63.8, 13.3, 11.1,
        5.5, 29.1, 39. , 34.7, 21.1, 47.7, 18.6,  3.2, 14.2, 12.6,  3.7,
       22.8, 59.5, 15.1, 14.6, 17.3,  9.6, 40.2, 16.4, 19.8, 41.2, 18.8,
        6.3, 31.5, 38.3, 34. ,  2.1, 29.4, 37.1, 48.4, 50.6, 55. ,  8.1,
       63.1, 28.5, 32.1, 40.6, 34.6,  7. , 88.6, 25. , 35.4, 32.5,  8.3,
       94.3, 42.6, 13.4, 32.6, 62. ,  3.4, 24.4, 41.4, 79. , 52.3, 46.2,
       43.1, 37.3, 47.9, 27.4, 38.1,  1.5, 13.1,  1.3, 20.3, 20.9,  5.3,
        3.8, 23.1, 15.2, 23.2, 17.9, 16.3, 29. , 22.9, 13.2, 58.7, 51.1,
       13.5,  8.7,  0.3,  2.3, 81. , 61.4, 43.7, 52.7, 14.8,  0.8, 64. ,
       28.6, 22.2, 57.3, 32.7,  4.3, 21.8,  5.1, 66.5, 38.8, 19.2, 68.9,
        9.9, 31. , 66.9,  4.5, 65. , 56.2, 10.6, 10.2, 49.5, 10.8, 63.6,
       34.8, 27.8,  7.6, 41.7, 23.7, 92.2, 28.2, 73.1, 20.4,  5.6, 32.2,
       51. , 28. , 19.6, 31.9,  9.2,  3.3, 80.2, 36.3, 22.4,  5. , 49.9,
       52.9, 15.5, 36.5, 43.3, 25.7, 13.7, 60.9, 11.5, 50.8, 45.1, 25.4,
       28.9, 60.4, 17.5, 68.5, 38.4, 11.6, 15.6, 51.5,  8.5, 21.2,  3.6,
       67.3, 25.9, 24.2, 72.3,  7.4, 51.6,  1. , 62.1, 76.2,  7.9, 22.7,
       59.1, 42. , 79.4, 20.7, 23.9, 69.2, 75.6, 30.3, 16.1,  4.1, 34.9,
       21. , 22.5, 44.5,  6.1, 45.3,  7.1, 71.2, 37. , 30.9, 29.2,  5.4,
       33.4,  4.4, 27.2,  0. , 33. , 80.6, 26.8, 99.1, 24. , 59. , 29.5,
       18.2, 61.8, 45.9, 18.5, 57.8, 20.1, 34.5, 19.9, 54.9, 51.4, 24.3,
       71.8,  6.8, 21.4, 70.2, 56.5, 12.1,  9.3, 41.8,  3. , 38. ,  0.9,
        6.9, 23. , 47.8, 32.3, 30.1, 16. , 27.7, 32.4, 38.5, 59.8,  7.5,
        0.7, 30.6, 15. ,  9.7, 54.5,  3.5, 54.1, 33.2, 52.4, 54.3, 43.6,
       76.6, 90.3, 31.7, 28.4, 62.7, 34.1, 40.4, 17.1, 18.7, 55.9, 10.1,
       48.9, 37.4,  1.2, 45.2, 18.1,  1.4, 24.8, 39.8, 14.4, 42.9,  6.6,
       45.8,  6.2, 64.2, 36.2, 15.9, 20. , 26.5, 60.8, 28.3, 49. , 25.2,
       14.3, 14.7, 67.8,  2.4, 77.9, 33.1, 51.3, 44.2, 17.2, 46.6, 37.2,
       92.9, 49.8, 26.3, 89.7, 75.3, 88. , 79.8, 65.2, 36.7, 26.1, 27.5,
       53. , 39.5, 66.2, 31.3, 74. , 48.6, 18.4, 44.6, 95. , 49.4, 69.9,
       47.4, 74.9, 46.3, 70.7, 57.6, 78.7, 95.8, 42.5, 58.5, 35.6, 91.6,
       16.7, 10.4, 49.3, 84.9, 43.5, 72.9, 29.6, 34.3, 69.7, 31.4, 73.4,
       45.4, 51.9, 96.6, 55.5, 46.5, 31.6, 63.4, 16.5, 55.8, 15.8, 10. ,
       87.5, 58.1, 83.1, 23.5, 57.2, 86.9, 45. ])

In [58]:
imputed_data = my_impute(data)

 49%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ                     | 99/202 [00:01<00:01, 74.94it/s]/Users/chloesavignac/.conda/envs/old_sklearn/lib/python3.7/site-packages/ipykernel_launcher.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  # This is added back by InteractiveShellApp.init_path()
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 202/202 [00:02<00:00, 88.03it/s]

In [59]:
imputed_data['Morning/evening person (chronotype) (R)'].replace([1,2,3,4],[2,1,-1,-2], inplace=True)

In [60]:
imputed_data['Home area population density - urban or rural'].replace([1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18],[1,0,0,-1,1,0,0,-1,-2,1,1,0,0,0,-1,-1,-1],inplace=True)

In [61]:
imputed_data.head()

,Sex (C),Age (R),Age completed education (R),Number of vehicles in household (R),Average total household income before tax (R),Fluid intelligence score (R),Health satisfaction (R),Length of time at current address (R),Time spent watching television (TV) (R),Time spent using computer (R),...,Phys_4.0,Phys_5.0,He_1.0,He_2.0,He_3.0,He_4.0,Eye_2.0,Eye_4.0,Eye_5.0,Number of full siblings
eid,,,,,,,,,,,,,,,,,,,,,
5093155,1.0,56.0,33.0,2.0,3.0,5.0,2.0,17.0,4.0,3.0,...,0,0,0,0,0,0,0,0,0,2.0
4155077,0.0,49.0,16.0,3.0,3.0,1.0,3.0,9.0,3.0,1.0,...,1,0,0,0,0,0,0,0,0,4.0
2204317,0.0,66.0,16.0,3.0,4.0,8.0,3.0,17.0,3.0,1.0,...,0,0,0,0,0,0,0,0,0,3.0
1719355,0.0,67.0,16.0,2.0,1.0,5.0,2.0,13.0,2.0,2.0,...,0,0,0,0,0,0,0,0,0,1.0
2279037,1.0,69.0,15.0,2.0,2.0,7.0,2.0,47.0,2.0,2.0,...,0,0,1,0,0,0,0,0,0,1.0

In [62]:
new2 = imputed_data[['Fluid intelligence score (R)','Loneliness, isolation (C)', 'Able to confide/Social support (R)', 'Age (R)', 'Sex (C)',
            'Education score (England)', 'Age completed education (R)', 'Alcohol intake frequency',
            'Amount of alcohol drunk on a typical drinking day', 'Current tobacco smoking (R)', 'Past tobacco smoking (R)',
            'Act_1.0', 'Act_2.0', 'Act_3.0', 'Act_4.0', 'Phys_1.0', 'Phys_2.0', 'Phys_3.0',
            'Sleep duration (R)', 'Getting up in morning (R)', 'Morning/evening person (chronotype) (R)',
            'Sleeplessness / insomnia', 'He_1.0', 'He_2.0', 'He_3.0', 'He_4.0',
            'Diabetes diagnosed by doctor', 'Hearing difficulty/problems with background noise', 'Hearing aid user',
            'Eye_2.0', 'Eye_4.0', 'Eye_5.0', 'Miserableness (C)', 'Fed-up feelings (C)',
            'Mood swings (C)', 'Worrier / anxious feelings (C)', 'Nervous feelings (C)',
            'Sensitivity / hurt feelings (C)', "Tense / 'highly strung' (C)", "Suffer from 'nerves' (C)",
            "Worry too long after embarrassment (C)", "Irritability (C)", "Neuroticism score (R)",
            'Happiness (R)', "Recent feelings or nervousness or anxiety", 'Frequency of friend/family visits (R)',
            'Friendships satisfaction (R)', 'Family relationship satisfaction (R)', 'Number of full siblings',
            'Home area population density - urban or rural', 'Average total household income before tax (R)', 
            'Emp_1.0', 'Emp_2.0', 'Emp_3.0', 'Emp_4.0', 'Emp_5.0', 'Emp_6.0', 'Emp_7.0',
            'Number of vehicles in household (R)', 'Time spent watching television (TV) (R)', 'Time spent using computer (R)',
            'Number in household (R)', 'Physical environment score (Wales)']].copy()

In [63]:
new = new2.rename(columns={'Loneliness, isolation (C)': 'Loneliness', 
                    'Able to confide/Social support (R)': 'Lack of social support', 
                    'Age (R)': 'Age', 
                    'Sex (C)': 'Sex',
                    'Education score (England)': 'Education score', 
                    'Age completed education (R)': 'Age completed high school education', 
                    'Alcohol intake frequency': 'Alcohol intake frequency',
                    'Amount of alcohol drunk on a typical drinking day': 'Alcohol consumption on a typical drinking day', 
                    'Current tobacco smoking (R)': 'Current tobacco smoking frequency', 
                    'Past tobacco smoking (R)': 'Past tobacco smoking frequency',
                    'Act_1.0': 'Attend sports club or gym', 
                    'Act_2.0': 'Attend pub or social club', 
                    'Act_3.0': 'Attend religious group', 
                    'Act_4.0': 'Attend adult education class', 
                    'Phys_1.0': 'Walking for pleasure', 
                    'Phys_2.0': 'Moderate exercises', 
                    'Phys_3.0': 'Strenuous sports',
                    'Sleep duration (R)': 'Sleep duration', 
                    'Getting up in morning (R)': 'Getting up in the morning', 
                    'Morning/evening person (chronotype) (R)': 'Being a morning person',
                    'Sleeplessness / insomnia': 'Sleeplessness or insomnia', 
                    'He_1.0': 'Heart attack', 
                    'He_2.0': 'Angina', 
                    'He_3.0': 'Stroke', 
                    'He_4.0': 'Hypertension',
                    'Diabetes diagnosed by doctor': 'Diabetes diagnosed by a doctor', 
                    'Hearing difficulty/problems with background noise': 'Hearing difficulty with background noise', 
                    'Hearing aid user': 'Hearing aid user',
                    'Eye_2.0': 'Glaucoma', 
                    'Eye_4.0': 'Cataract', 
                    'Eye_5.0': 'Macular degeneration', 
                    'Miserableness (C)': 'Miserableness', 
                    'Fed-up feelings (C)': 'Fed-up feelings',
                    'Mood swings (C)': 'Mood swings', 
                    'Worrier / anxious feelings (C)': 'Worrier / anxious feelings', 
                    'Nervous feelings (C)': 'Nervous feelings',
                    'Sensitivity / hurt feelings (C)': 'Sensitivity / hurt feelings', 
                    "Tense / 'highly strung' (C)": "Tense / 'highly strung'", 
                    "Suffer from 'nerves' (C)": "Suffer from 'nerves'",
                    "Worry too long after embarrassment (C)": "Worry too long after embarrassment", 
                    "Irritability (C)": "Irritability", 
                    "Neuroticism score (R)": "Neuroticism score",
                    'Happiness (R)': "Happiness", 
                    "Recent feelings or nervousness or anxiety": "Feelings of nervousness or anxiety", 
                    'Frequency of friend/family visits (R)': 'Frequency of friend / family visits',
                    'Friendships satisfaction (R)': 'Friendships satisfaction', 
                    'Family relationship satisfaction (R)': 'Family relationship satisfaction', 
                    'Number of full siblings': 'Number of full siblings',
                    'Home area population density - urban or rural': 'Living in urban areas', 
                    'Average total household income before tax (R)': 'Average household income', 
                    'Emp_1.0': 'Paid employment', 
                    'Emp_2.0': 'Retirement', 
                    'Emp_3.0': 'Looking after home or family', 
                    'Emp_4.0': 'Unable to work due to sickness or disability', 
                    'Emp_5.0': 'Unemployment', 
                    'Emp_6.0': 'Doing unpaid or voluntary work', 
                    'Emp_7.0': 'Full or part-time student',
                    'Number of vehicles in household (R)': 'Number of vehicles in household', 
                    'Time spent watching television (TV) (R)': 'Time spent watching TV', 
                    'Time spent using computer (R)': 'Time spent using computer',
                    'Number in household (R)': 'Number in household', 
                    'Physical environment score (Wales)': 'Physical environment score'})

In [64]:
new.isna().sum()

Fluid intelligence score (R)                     0
Loneliness                                       0
Lack of social support                           0
Age                                              0
Sex                                              0
Education score                                  0
Age completed high school education              0
Alcohol intake frequency                         0
Alcohol consumption on a typical drinking day    0
Current tobacco smoking frequency                0
Past tobacco smoking frequency                   0
Attend sports club or gym                        0
Attend pub or social club                        0
Attend religious group                           0
Attend adult education class                     0
Walking for pleasure                             0
Moderate exercises                               0
Strenuous sports                                 0
Sleep duration                                   0
Getting up in the morning                        0
Being a morning person                           0
Sleeplessness or insomnia                        0
Heart attack                                     0
Angina                                           0
Stroke                                           0
Hypertension                                     0
Diabetes diagnosed by a doctor                   0
Hearing difficulty with background noise         0
Hearing aid user                                 0
Glaucoma                                         0
Cataract                                         0
Macular degeneration                             0
Miserableness                                    0
Fed-up feelings                                  0
Mood swings                                      0
Worrier / anxious feelings                       0
Nervous feelings                                 0
Sensitivity / hurt feelings                      0
Tense / 'highly strung'                          0
Suffer from 'nerves'                             0
Worry too long after embarrassment               0
Irritability                                     0
Neuroticism score                                0
Happiness                                        0
Feelings of nervousness or anxiety               0
Frequency of friend / family visits              0
Friendships satisfaction                         0
Family relationship satisfaction                 0
Number of full siblings                          0
Living in urban areas                            0
Average household income                         0
Paid employment                                  0
Retirement                                       0
Looking after home or family                     0
Unable to work due to sickness or disability     0
Unemployment                                     0
Doing unpaid or voluntary work                   0
Full or part-time student                        0
Number of vehicles in household                  0
Time spent watching TV                           0
Time spent using computer                        0
Number in household                              0
Physical environment score                       0
dtype: int64

In [65]:
new.to_csv('kimia_output_update_correctly_imputed_2022.csv', index=True)

In [66]:
new.shape

(502506, 63)